@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: "Montserrat", sans-serif;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(128, 127, 155, 0.8),
        rgba(128, 128, 128, 0.8)
    ) !important;
}

